<% content_for :title, "Editing exam" %>

<h1>Editing exam</h1>

<%= render "form", admin_exam: @admin_exam %>

<br>

<div>
  <%= link_to "Show this exam", @admin_exam %> |
  <%= link_to "Back to exams", admin_exams_path %>
</div>
