<p style="color: green"><%= notice %></p>

<% content_for :title, "Exams" %>

<h1>Exams</h1>

<div id="admin_exams">
  <% @admin_exams.each do |admin_exam| %>
    <%= render admin_exam %>
    <p>
      <%= link_to "Show this exam", admin_exam %>
    </p>
  <% end %>
</div>

<%= link_to "New exam", new_admin_exam_path %>
